input[type="radio"] {
transform: scale(1.5) !important;
-moz-transform: scale(1.5);
padding-bottom: 5px !important;
}

body {
  background-color: #E8E8E8 !important; 
}

.row{
  margin-right: 0px !important;
}

.btn-xlarge, #dropdown{
  background-color: #00338D;
  border-color: #00338D;
  padding: 10px 28px;
  color: white;
  font-size: 22px;
  line-height: normal;
  -moz-border-radius: 8px;
   border-radius: 8px;
   margin-top: 2%;
}


h1, h2, h3, h4, h5, p, .btn-xlarge, th, td{
  font-family: "Verdana" !important;
}

h1, h2, h3, h4, h5, th, label, .start-date, .end-date{
  color: #00338D !important;
}

p{
  font-size: 20px;
}

#centered-p{
   float: none;
   margin: 0 auto; 
   background-color: white;
}

#centered-form{
   float: none; 
   margin: 0 auto; 
   padding-left: 3%;
}

#radio-label{
   font-size: 130%; 
   color: #00338D;
}

.membership-label{
    font-size: 130%; 
    color: #00338D; 
    margin-top: 3%;
}

#btn-space{
  margin-right: 5%;
}

button:hover, .btn-xlarge:hover{
  color: white;
  text-decoration: none;
  background-color: #003366;
}

.image-link{
  background-color: transparent !important;
}

table table-striped{
  width:95%; 
  margin: 0 auto;
}

th{
  text-align: center;
  font-size: 20px;
}

td{
  font-size: 18px;
  text-align: center;
}

.navbar{
  min-height: 100px !important;
}

.logo-header{
  height:150px; 
  width: 150px; 
  margin-top:-25%; 
}

#membership-col{
   margin-bottom:3% !important; 
}

.upload-header{
   text-align: center; 
   padding-left: 20%; 
   padding-right: 20%; 
   margin-bottom: 3%;
}

.file-input{
   font-size:180%;
}

#login-form{
    float: none; 
    margin: 0 auto;
}

.login-buttons{
    padding-left:1em; 
    padding-right:1em; 
    padding-top: 2em;
}

.logout-button{
    padding-top: 2em;
}

.no-label, .jtext-file, .joutput-file, .start-date, .end-date{
   font-size: 140%; 
}

.no-dropdown{
   margin-bottom: 10%; 
   font-size: 180%; 
   width: 80%; 
   text-align: center;
}

.joutput-file, .judgedate-table{
    margin-top: 3%;
}

.start-date, .end-date{
   font-weight: bold;
}

#help-col{
   background-color: white; 
   margin-left: 3%; 
   margin-right: 3%;
}

iframe{
   margin-left: 6%; 
   margin-top: 6%; 
   margin-bottom: 6%;
}

.help-col-div{
   margin-left: 12%;
}

#team-name-row, #judge-name-row{
   margin-left: 14%;
}

.table-head{
   text-align: center;
}